.colorOne {
  color: #48cfad;
}

.colorTwo {
  color: #777;
}

.colorThree {
  color: #fff;
}

.colorFoure {
  color: #475168;
}

.indentation {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.logo {
  font-size: 0;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 85px;
  position: relative;
  z-index: 100;
}

#A_Text {
  display: inline-block;
  color: #777;
  font-size: 30px;
}

#cme_Text {
  display: inline-block;
  font-size: 30px;
}

.item {
  transition: 0.5s;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  padding: 15px 15px;
  display: inline-block;
}

#sd {
  margin-left: 5px;
  display: inline-block;
  transform: rotate(90deg)
}

#sd_two {
  margin-left: 5px;
  display: inline-block;
}

.item:hover {
  color: white;
  background-color: #48cfad;
}

.drop_down_menu {
  min-width: 120px;
  z-index: 100px;
  display: none;
  padding-top: 20px;
  position: absolute;
}

.drop_down_menu_two {
  min-width: 120px;
  top: 72%;
  margin-left: 35px;
  z-index: 100px;
  display: none;
  padding-top: 20px;
  position: absolute;
}

#itemOne:hover .drop_down_menu {
  color: #777;
  display: block;
}

#itemTwo:hover .drop_down_menu {
  color: #777;
  display: block;
}

#itemThree:hover .drop_down_menu_two {
  color: #777;
  display: inline-block;
}

#itemFour:hover .drop_down_menu_three{
  color: #777;
  display: inline-block;
}

#itemFive:hover .drop_down_menu {
  color: #777;
  display: block;
}

#itemSix:hover .drop_down_menu_Four {
  color: #777;
  display: inline-block;
}

#itemSeven:hover .drop_down_menu {
  color: #777;
  display: block;
}

#itemEight:hover .drop_down_menu {
  color: #777;
  display: block;
}


.idem_drop_menu {
  margin-left: -10px;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  background-color: white;
}

.idem_drop_menu:hover {
  color: white;
  background-color: #48cfad;
}

.drop_down_menu_three {
  min-width: 120px;
  z-index: 100px;
  top: 22%;
  display: none;
  padding-top: 20px;
  margin-left: 50px;
  position: absolute;
}

.drop_down_menu_Four {
  min-width: 120px;
  z-index: 100px;
  top: 57%;
  display: none;
  padding-top: 20px;
  margin-left: 44px;
  position: absolute;
}

.inputHeader {
  background: url(../Acme.img/search-icon.jpg) no-repeat 10px 8px;
  padding: 0 5px 0 35px;
  width: 40px;
  border: 1px solid#e6e6e6;
  height: 32px;
  transition: 0.8s;
}

.inputHeader:focus{
  width: 150px;
  transition: 0.8s;
}

.slider {
  position: relative;
  background-image: url(../Acme.img/main-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  width: 100%;
  height: 550px;
  text-align: left;
  white-space: nowrap
}

.slid_content {
  text-align: left;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  display: inline-block;
  width: 350px;
  padding-left: 15px;
}

.tittle_slid {
  font-size: 40px;
  font-weight: 700;
  font-style: oblique;
}

.text_slid {
  line-height: 26px;
  font-weight: 700;
  font-style: oblique;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button {
  cursor: pointer;
  transition: 0.8s;
  top: 390px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color: #fff;
  padding: 10px 5px;
  font-size: 18px;
  line-height: 30px;
  width: 120px;
  text-align: center;
  background: #48cfad;
}

.button:hover {
  opacity: 0.7;
  background: rgba(72, 207, 173, 0.80);
}

.button_block {
  position: absolute;
  top: 92%;
  left: 50%;
}

.button_slid_click {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000000;
  margin: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
  opacity: .7;
}

.button_slid_click:active {
  background: red;
}

.img_slider_block {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(0%,-50%);
}

.slider_img_One {
  width: 300px;
  height: 447;
}

.slider_img_Two {
  width: 300px;
  height: 447;
}

.slider_img_Three {
  width: 412px;
  height: 447;
}

.slid_content_block {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: 0.8s;
}

.slid_content_block:first-child {
  margin-left: -100%;
}

.slider_container {
  width: 100%; 
  position: relative;
  overflow: hidden;
}

.button_rigth {
  cursor: pointer;
  width: 30px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 97%;
  transform: translate(-50%, 0%);
}

.button_left {
  cursor: pointer;
  width: 30px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 95%;
  transform: translate(-50%, 0%);
}

.img_block {
  width: 100px;
  height: 100px;
}

.container_three {
  height: 321px;
}

.content_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_block {
  margin-top: 20px;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  max-width: 350px;
}

.tittle_container_three {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.tittle_content_block {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container_foure {
  padding: 80px 0;
  background: #f9f9f3;
  max-height: 680px;
}

.container_foure {
  padding: 80px 0;
  background: #f9f9f3;
  max-height: 680px;
  margin-bottom: 60px;
}

.img_block_conFoure {
  display: inline-block;
  position: relative;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.img_conFoure {
  max-width: 400px;
}

.text_block_conFoure {
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
  padding-left: 15px;
}

.tittle_container_foure_text {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}

.text {
  line-height: 22px;
  font-size: 14px;
  max-width: 555px;
  font-weight: 400;
}

.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #dfdcdf;;
}

#last_hr {
  margin-bottom: 60px;
}

.img_text_block {
  vertical-align: middle;
}

.textMargin {
  margin-bottom: 10px;
}

.content_block_foure {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button_container_foure {
  background: #475168;
  border-radius: 4px;
  padding: 6px 12px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.container_five {
  max-width: 1170px;
  height: 300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.one_block_container_five {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.one_block_container_five {
  border: 1px solid #e6e6e6;
  width: 554px;
  height: 265px
}

.list_of_buttons {
  display: inline-block;
  margin-right: -3px;
  background-color: #48cfad;
  border-bottom: 1px solid #ddd;
  padding: 20px 50px;
  box-sizing: border-box;
  width: 183.6px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.list_of_buttons:first-child {
  background-color: #f4f4f4;
  color: #777;
}

.img_slid_media_one {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  margin-right: 5px;
}

.block_media {
  display: inline-block;
  vertical-align: top;
}

.slid_content_media {
  margin-bottom: 12px;
}

.slid_content_media:last-child {
  margin-bottom: 0px;
}

.media_slid_block {
  position: relative;
}

.one_slid_media {
  opacity: 0;
  transition: all 0.5s ease 0s;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.one_slid_media:first-child {
  opacity: 1;
}

.tittle_slid_media {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  transition: 0.6s;
  cursor: pointer;
}

.tittle_slid_media:hover {
  color: #48cfad;
}

.two_slid_container_five {
  border: 2px solid red;
  width: 554px;
  height: 240px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.slid_content_block_media {
  height: 220px;
  vertical-align: top;
  background-color: red;
  width: 555px;
}




/* .jackdaw {

}

.FA-L {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
  color: #48cfad;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jackdaw::before {
  content: "\f00c";
} */





